on:
  push:
    branches:
      - renovate/*

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.head_commit.author.username == 'renovate[bot]'
    steps:
      - uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: ./.github/actions/setup
        with:
          token: ${{ steps.app-token.outputs.token }}
          bot-app-slug: ${{ steps.app-token.outputs.app-slug }}

      - uses: YutaUra/renovate-changeset-action@f7d306e2651ba0fd1ef4c41097cdd00be95e0ee1 # v0.0.57
        with:
          message: ${{ github.event.head_commit.message }}
          setup-git-user: "false"